
    <!-- Subscribe section -->
    <div class="mrkplace-container mrkplace-black mrkplace-padding-32">
        <h1>Subscribe</h1>
        <p>To get special offers and VIP treatment:</p>
        <p><input class="mrkplace-input mrkplace-border" type="text" placeholder="Enter e-mail" style="width:100%"></p>
        <button type="button" class="mrkplace-button mrkplace-red mrkplace-margin-bottom">Subscribe</button>
      </div>
      
      <!-- Footer -->
      <footer class="mrkplace-padding-64 mrkplace-light-grey mrkplace-small mrkplace-center" id="footer">
        <div class="mrkplace-row-padding">
          <div class="mrkplace-col s4">
            <h4>Contact</h4>
            <p>Questions? Go ahead.</p>
            
              <p><input class="mrkplace-input mrkplace-border" type="text" placeholder="Name" name="Name" required></p>
              <p><input class="mrkplace-input mrkplace-border" type="text" placeholder="Email" name="Email" required></p>
              <p><input class="mrkplace-input mrkplace-border" type="text" placeholder="Subject" name="Subject" required></p>
              <p><input class="mrkplace-input mrkplace-border" type="text" placeholder="Message" name="Message" required></p>
              <button type="submit" class="mrkplace-button mrkplace-block mrkplace-black">Send</button>
            
          </div>
    
          <div class="mrkplace-col s4">
            <h4>About</h4>
            <p><a href="#">About us</a></p>
            <p><a href="#">We're hiring</a></p>
            <p><a href="#">Support</a></p>
            <p><a href="#">Find store</a></p>
            <p><a href="#">Shipment</a></p>
            <p><a href="#">Payment</a></p>
            <p><a href="#">Gift card</a></p>
            <p><a href="#">Return</a></p>
            <p><a href="#">Help</a></p>
          </div>
    
          <div class="mrkplace-col s4 mrkplace-justify">
            <h4>Store</h4>
            <p><i class="fa fa-fw fa-map-marker"></i> Company Name</p>
            <p><i class="fa fa-fw fa-phone"></i> 0044123123</p>
            <p><i class="fa fa-fw fa-envelope"></i> ex@mail.com</p>
            <h4>We accept</h4>
            <p><i class="fa fa-fw fa-cc-amex"></i> Amex</p>
            <p><i class="fa fa-fw fa-credit-card"></i> Credit Card</p>
            <br>
            <i class="fa fa-facebook-official mrkplace-hover-opacity mrkplace-large"></i>
            <i class="fa fa-instagram mrkplace-hover-opacity mrkplace-large"></i>
            <i class="fa fa-snapchat mrkplace-hover-opacity mrkplace-large"></i>
            <i class="fa fa-pinterest-p mrkplace-hover-opacity mrkplace-large"></i>
            <i class="fa fa-twitter mrkplace-hover-opacity mrkplace-large"></i>
            <i class="fa fa-linkedin mrkplace-hover-opacity mrkplace-large"></i>
          </div>
        </div>
      </footer>
    
      <div class="mrkplace-black mrkplace-center mrkplace-padding-24"><a href="https://mrkplace.com/" title="W3.CSS" target="_blank" class="mrkplace-hover-opacity">mrkplace.com</a></div>
    