html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.mrkplace-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.mrkplace-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.mrkplace-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.mrkplace-table,.mrkplace-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.mrkplace-table-all{border:1px solid #ccc}
.mrkplace-bordered tr,.mrkplace-table-all tr{border-bottom:1px solid #ddd}.mrkplace-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.mrkplace-table-all tr:nth-child(odd){background-color:#fff}.mrkplace-table-all tr:nth-child(even){background-color:#f1f1f1}
.mrkplace-hoverable tbody tr:hover,.mrkplace-ul.mrkplace-hoverable li:hover{background-color:#ccc}.mrkplace-centered tr th,.mrkplace-centered tr td{text-align:center}
.mrkplace-table td,.mrkplace-table th,.mrkplace-table-all td,.mrkplace-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.mrkplace-table th:first-child,.mrkplace-table td:first-child,.mrkplace-table-all th:first-child,.mrkplace-table-all td:first-child{padding-left:16px}
.mrkplace-btn,.mrkplace-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.mrkplace-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.mrkplace-btn,.mrkplace-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.mrkplace-disabled,.mrkplace-btn:disabled,.mrkplace-button:disabled{cursor:not-allowed;opacity:0.3}.mrkplace-disabled *,:disabled *{pointer-events:none}
.mrkplace-btn.mrkplace-disabled:hover,.mrkplace-btn:disabled:hover{box-shadow:none}
.mrkplace-badge,.mrkplace-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.mrkplace-badge{border-radius:50%}
.mrkplace-ul{list-style-type:none;padding:0;margin:0}.mrkplace-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.mrkplace-ul li:last-child{border-bottom:none}
.mrkplace-tooltip,.mrkplace-display-container{position:relative}.mrkplace-tooltip .mrkplace-text{display:none}.mrkplace-tooltip:hover .mrkplace-text{display:inline-block}
.mrkplace-ripple:active{opacity:0.5}.mrkplace-ripple{transition:opacity 0s}
.mrkplace-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.mrkplace-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.mrkplace-dropdown-click,.mrkplace-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.mrkplace-dropdown-hover:hover .mrkplace-dropdown-content{display:block}
.mrkplace-dropdown-hover:first-child,.mrkplace-dropdown-click:hover{background-color:#ccc;color:#000}
.mrkplace-dropdown-hover:hover > .mrkplace-button:first-child,.mrkplace-dropdown-click:hover > .mrkplace-button:first-child{background-color:#ccc;color:#000}
.mrkplace-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.mrkplace-check,.mrkplace-radio{width:24px;height:24px;position:relative;top:6px}
.mrkplace-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.mrkplace-bar-block .mrkplace-dropdown-hover,.mrkplace-bar-block .mrkplace-dropdown-click{width:100%}
.mrkplace-bar-block .mrkplace-dropdown-hover .mrkplace-dropdown-content,.mrkplace-bar-block .mrkplace-dropdown-click .mrkplace-dropdown-content{min-width:100%}
.mrkplace-bar-block .mrkplace-dropdown-hover .mrkplace-button,.mrkplace-bar-block .mrkplace-dropdown-click .mrkplace-button{width:100%;text-align:left;padding:8px 16px}
.mrkplace-main,#main{transition:margin-left .4s}
.mrkplace-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.mrkplace-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.mrkplace-bar{width:100%;overflow:hidden}.mrkplace-center .mrkplace-bar{display:inline-block;width:auto}
.mrkplace-bar .mrkplace-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.mrkplace-bar .mrkplace-dropdown-hover,.mrkplace-bar .mrkplace-dropdown-click{position:static;float:left}
.mrkplace-bar .mrkplace-button{white-space:normal}
.mrkplace-bar-block .mrkplace-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.mrkplace-bar-block.mrkplace-center .mrkplace-bar-item{text-align:center}.mrkplace-block{display:block;width:100%}
.mrkplace-responsive{display:block;overflow-x:auto}
.mrkplace-container:after,.mrkplace-container:before,.mrkplace-panel:after,.mrkplace-panel:before,.mrkplace-row:after,.mrkplace-row:before,.mrkplace-row-padding:after,.mrkplace-row-padding:before,
.mrkplace-cell-row:before,.mrkplace-cell-row:after,.mrkplace-clear:after,.mrkplace-clear:before,.mrkplace-bar:before,.mrkplace-bar:after{content:"";display:table;clear:both}
.mrkplace-col,.mrkplace-half,.mrkplace-third,.mrkplace-twothird,.mrkplace-threequarter,.mrkplace-quarter{float:left;width:100%}
.mrkplace-col.s1{width:8.33333%}.mrkplace-col.s2{width:16.66666%}.mrkplace-col.s3{width:24.99999%}.mrkplace-col.s4{width:33.33333%}
.mrkplace-col.s5{width:41.66666%}.mrkplace-col.s6{width:49.99999%}.mrkplace-col.s7{width:58.33333%}.mrkplace-col.s8{width:66.66666%}
.mrkplace-col.s9{width:74.99999%}.mrkplace-col.s10{width:83.33333%}.mrkplace-col.s11{width:91.66666%}.mrkplace-col.s12{width:99.99999%}
@media (min-width:601px){.mrkplace-col.m1{width:8.33333%}.mrkplace-col.m2{width:16.66666%}.mrkplace-col.m3,.mrkplace-quarter{width:24.99999%}.mrkplace-col.m4,.mrkplace-third{width:33.33333%}
.mrkplace-col.m5{width:41.66666%}.mrkplace-col.m6,.mrkplace-half{width:49.99999%}.mrkplace-col.m7{width:58.33333%}.mrkplace-col.m8,.mrkplace-twothird{width:66.66666%}
.mrkplace-col.m9,.mrkplace-threequarter{width:74.99999%}.mrkplace-col.m10{width:83.33333%}.mrkplace-col.m11{width:91.66666%}.mrkplace-col.m12{width:99.99999%}}
@media (min-width:993px){.mrkplace-col.l1{width:8.33333%}.mrkplace-col.l2{width:16.66666%}.mrkplace-col.l3{width:24.99999%}.mrkplace-col.l4{width:33.33333%}
.mrkplace-col.l5{width:41.66666%}.mrkplace-col.l6{width:49.99999%}.mrkplace-col.l7{width:58.33333%}.mrkplace-col.l8{width:66.66666%}
.mrkplace-col.l9{width:74.99999%}.mrkplace-col.l10{width:83.33333%}.mrkplace-col.l11{width:91.66666%}.mrkplace-col.l12{width:99.99999%}}
.mrkplace-rest{overflow:hidden}.mrkplace-stretch{margin-left:-16px;margin-right:-16px}
.mrkplace-content,.mrkplace-auto{margin-left:auto;margin-right:auto}.mrkplace-content{max-width:980px}.mrkplace-auto{max-width:1140px}
.mrkplace-cell-row{display:table;width:100%}.mrkplace-cell{display:table-cell}
.mrkplace-cell-top{vertical-align:top}.mrkplace-cell-middle{vertical-align:middle}.mrkplace-cell-bottom{vertical-align:bottom}
.mrkplace-hide{display:none!important}.mrkplace-show-block,.mrkplace-show{display:block!important}.mrkplace-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.mrkplace-auto{max-width:95%}}
@media (max-width:600px){.mrkplace-modal-content{margin:0 10px;width:auto!important}.mrkplace-modal{padding-top:30px}
.mrkplace-dropdown-hover.mrkplace-mobile .mrkplace-dropdown-content,.mrkplace-dropdown-click.mrkplace-mobile .mrkplace-dropdown-content{position:relative}	
.mrkplace-hide-small{display:none!important}.mrkplace-mobile{display:block;width:100%!important}.mrkplace-bar-item.mrkplace-mobile,.mrkplace-dropdown-hover.mrkplace-mobile,.mrkplace-dropdown-click.mrkplace-mobile{text-align:center}
.mrkplace-dropdown-hover.mrkplace-mobile,.mrkplace-dropdown-hover.mrkplace-mobile .mrkplace-btn,.mrkplace-dropdown-hover.mrkplace-mobile .mrkplace-button,.mrkplace-dropdown-click.mrkplace-mobile,.mrkplace-dropdown-click.mrkplace-mobile .mrkplace-btn,.mrkplace-dropdown-click.mrkplace-mobile .mrkplace-button{width:100%}}
@media (max-width:768px){.mrkplace-modal-content{width:500px}.mrkplace-modal{padding-top:50px}}
@media (min-width:993px){.mrkplace-modal-content{width:900px}.mrkplace-hide-large{display:none!important}.mrkplace-sidebar.mrkplace-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.mrkplace-hide-medium{display:none!important}}
@media (max-width:992px){.mrkplace-sidebar.mrkplace-collapse{display:none}.mrkplace-main{margin-left:0!important;margin-right:0!important}.mrkplace-auto{max-width:100%}}
.mrkplace-top,.mrkplace-bottom{position:fixed;width:100%;z-index:1}.mrkplace-top{top:0}.mrkplace-bottom{bottom:0}
.mrkplace-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.mrkplace-display-topleft{position:absolute;left:0;top:0}.mrkplace-display-topright{position:absolute;right:0;top:0}
.mrkplace-display-bottomleft{position:absolute;left:0;bottom:0}.mrkplace-display-bottomright{position:absolute;right:0;bottom:0}
.mrkplace-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.mrkplace-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.mrkplace-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.mrkplace-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.mrkplace-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.mrkplace-display-container:hover .mrkplace-display-hover{display:block}.mrkplace-display-container:hover span.mrkplace-display-hover{display:inline-block}.mrkplace-display-hover{display:none}
.mrkplace-display-position{position:absolute}
.mrkplace-circle{border-radius:50%}
.mrkplace-round-small{border-radius:2px}.mrkplace-round,.mrkplace-round-medium{border-radius:4px}.mrkplace-round-large{border-radius:8px}.mrkplace-round-xlarge{border-radius:16px}.mrkplace-round-xxlarge{border-radius:32px}
.mrkplace-row-padding,.mrkplace-row-padding>.mrkplace-half,.mrkplace-row-padding>.mrkplace-third,.mrkplace-row-padding>.mrkplace-twothird,.mrkplace-row-padding>.mrkplace-threequarter,.mrkplace-row-padding>.mrkplace-quarter,.mrkplace-row-padding>.mrkplace-col{padding:0 8px}
.mrkplace-container,.mrkplace-panel{padding:0.01em 16px}.mrkplace-panel{margin-top:16px;margin-bottom:16px}
.mrkplace-code,.mrkplace-codespan{font-family:Consolas,"courier new";font-size:16px}
.mrkplace-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.mrkplace-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.mrkplace-card,.mrkplace-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.mrkplace-card-4,.mrkplace-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.mrkplace-spin{animation:mrkplace-spin 2s infinite linear}@keyframes mrkplace-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.mrkplace-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.mrkplace-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.mrkplace-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.mrkplace-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.mrkplace-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.mrkplace-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.mrkplace-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.mrkplace-animate-input{transition:width 0.4s ease-in-out}.mrkplace-animate-input:focus{width:100%!important}
.mrkplace-opacity,.mrkplace-hover-opacity:hover{opacity:0.60}.mrkplace-opacity-off,.mrkplace-hover-opacity-off:hover{opacity:1}
.mrkplace-opacity-max{opacity:0.25}.mrkplace-opacity-min{opacity:0.75}
.mrkplace-greyscale-max,.mrkplace-grayscale-max,.mrkplace-hover-greyscale:hover,.mrkplace-hover-grayscale:hover{filter:grayscale(100%)}
.mrkplace-greyscale,.mrkplace-grayscale{filter:grayscale(75%)}.mrkplace-greyscale-min,.mrkplace-grayscale-min{filter:grayscale(50%)}
.mrkplace-sepia{filter:sepia(75%)}.mrkplace-sepia-max,.mrkplace-hover-sepia:hover{filter:sepia(100%)}.mrkplace-sepia-min{filter:sepia(50%)}
.mrkplace-tiny{font-size:10px!important}.mrkplace-small{font-size:12px!important}.mrkplace-medium{font-size:15px!important}.mrkplace-large{font-size:18px!important}
.mrkplace-xlarge{font-size:24px!important}.mrkplace-xxlarge{font-size:36px!important}.mrkplace-xxxlarge{font-size:48px!important}.mrkplace-jumbo{font-size:64px!important}
.mrkplace-left-align{text-align:left!important}.mrkplace-right-align{text-align:right!important}.mrkplace-justify{text-align:justify!important}.mrkplace-center{text-align:center!important}
.mrkplace-border-0{border:0!important}.mrkplace-border{border:1px solid #ccc!important}
.mrkplace-border-top{border-top:1px solid #ccc!important}.mrkplace-border-bottom{border-bottom:1px solid #ccc!important}
.mrkplace-border-left{border-left:1px solid #ccc!important}.mrkplace-border-right{border-right:1px solid #ccc!important}
.mrkplace-topbar{border-top:6px solid #ccc!important}.mrkplace-bottombar{border-bottom:6px solid #ccc!important}
.mrkplace-leftbar{border-left:6px solid #ccc!important}.mrkplace-rightbar{border-right:6px solid #ccc!important}
.mrkplace-section,.mrkplace-code{margin-top:16px!important;margin-bottom:16px!important}
.mrkplace-margin{margin:16px!important}.mrkplace-margin-top{margin-top:16px!important}.mrkplace-margin-bottom{margin-bottom:16px!important}
.mrkplace-margin-left{margin-left:16px!important}.mrkplace-margin-right{margin-right:16px!important}
.mrkplace-padding-small{padding:4px 8px!important}.mrkplace-padding{padding:8px 16px!important}.mrkplace-padding-large{padding:12px 24px!important}
.mrkplace-padding-16{padding-top:16px!important;padding-bottom:16px!important}.mrkplace-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.mrkplace-padding-32{padding-top:32px!important;padding-bottom:32px!important}.mrkplace-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.mrkplace-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.mrkplace-left{float:left!important}.mrkplace-right{float:right!important}
.mrkplace-button:hover{color:#000!important;background-color:#ccc!important}
.mrkplace-transparent,.mrkplace-hover-none:hover{background-color:transparent!important}
.mrkplace-hover-none:hover{box-shadow:none!important}
/* Colors */
.mrkplace-amber,.mrkplace-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.mrkplace-aqua,.mrkplace-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.mrkplace-blue,.mrkplace-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.mrkplace-light-blue,.mrkplace-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.mrkplace-brown,.mrkplace-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.mrkplace-cyan,.mrkplace-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.mrkplace-blue-grey,.mrkplace-hover-blue-grey:hover,.mrkplace-blue-gray,.mrkplace-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.mrkplace-green,.mrkplace-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.mrkplace-light-green,.mrkplace-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.mrkplace-indigo,.mrkplace-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.mrkplace-khaki,.mrkplace-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.mrkplace-lime,.mrkplace-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.mrkplace-orange,.mrkplace-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.mrkplace-deep-orange,.mrkplace-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.mrkplace-pink,.mrkplace-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.mrkplace-purple,.mrkplace-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.mrkplace-deep-purple,.mrkplace-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.mrkplace-red,.mrkplace-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.mrkplace-sand,.mrkplace-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.mrkplace-teal,.mrkplace-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.mrkplace-yellow,.mrkplace-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.mrkplace-white,.mrkplace-hover-white:hover{color:#000!important;background-color:#fff!important}
.mrkplace-black,.mrkplace-hover-black:hover{color:#fff!important;background-color:#000!important}
.mrkplace-grey,.mrkplace-hover-grey:hover,.mrkplace-gray,.mrkplace-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.mrkplace-light-grey,.mrkplace-hover-light-grey:hover,.mrkplace-light-gray,.mrkplace-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.mrkplace-dark-grey,.mrkplace-hover-dark-grey:hover,.mrkplace-dark-gray,.mrkplace-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.mrkplace-pale-red,.mrkplace-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.mrkplace-pale-green,.mrkplace-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.mrkplace-pale-yellow,.mrkplace-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.mrkplace-pale-blue,.mrkplace-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.mrkplace-text-amber,.mrkplace-hover-text-amber:hover{color:#ffc107!important}
.mrkplace-text-aqua,.mrkplace-hover-text-aqua:hover{color:#00ffff!important}
.mrkplace-text-blue,.mrkplace-hover-text-blue:hover{color:#2196F3!important}
.mrkplace-text-light-blue,.mrkplace-hover-text-light-blue:hover{color:#87CEEB!important}
.mrkplace-text-brown,.mrkplace-hover-text-brown:hover{color:#795548!important}
.mrkplace-text-cyan,.mrkplace-hover-text-cyan:hover{color:#00bcd4!important}
.mrkplace-text-blue-grey,.mrkplace-hover-text-blue-grey:hover,.mrkplace-text-blue-gray,.mrkplace-hover-text-blue-gray:hover{color:#607d8b!important}
.mrkplace-text-green,.mrkplace-hover-text-green:hover{color:#4CAF50!important}
.mrkplace-text-light-green,.mrkplace-hover-text-light-green:hover{color:#8bc34a!important}
.mrkplace-text-indigo,.mrkplace-hover-text-indigo:hover{color:#3f51b5!important}
.mrkplace-text-khaki,.mrkplace-hover-text-khaki:hover{color:#b4aa50!important}
.mrkplace-text-lime,.mrkplace-hover-text-lime:hover{color:#cddc39!important}
.mrkplace-text-orange,.mrkplace-hover-text-orange:hover{color:#ff9800!important}
.mrkplace-text-deep-orange,.mrkplace-hover-text-deep-orange:hover{color:#ff5722!important}
.mrkplace-text-pink,.mrkplace-hover-text-pink:hover{color:#e91e63!important}
.mrkplace-text-purple,.mrkplace-hover-text-purple:hover{color:#9c27b0!important}
.mrkplace-text-deep-purple,.mrkplace-hover-text-deep-purple:hover{color:#673ab7!important}
.mrkplace-text-red,.mrkplace-hover-text-red:hover{color:#f44336!important}
.mrkplace-text-sand,.mrkplace-hover-text-sand:hover{color:#fdf5e6!important}
.mrkplace-text-teal,.mrkplace-hover-text-teal:hover{color:#009688!important}
.mrkplace-text-yellow,.mrkplace-hover-text-yellow:hover{color:#d2be0e!important}
.mrkplace-text-white,.mrkplace-hover-text-white:hover{color:#fff!important}
.mrkplace-text-black,.mrkplace-hover-text-black:hover{color:#000!important}
.mrkplace-text-grey,.mrkplace-hover-text-grey:hover,.mrkplace-text-gray,.mrkplace-hover-text-gray:hover{color:#757575!important}
.mrkplace-text-light-grey,.mrkplace-hover-text-light-grey:hover,.mrkplace-text-light-gray,.mrkplace-hover-text-light-gray:hover{color:#f1f1f1!important}
.mrkplace-text-dark-grey,.mrkplace-hover-text-dark-grey:hover,.mrkplace-text-dark-gray,.mrkplace-hover-text-dark-gray:hover{color:#3a3a3a!important}
.mrkplace-border-amber,.mrkplace-hover-border-amber:hover{border-color:#ffc107!important}
.mrkplace-border-aqua,.mrkplace-hover-border-aqua:hover{border-color:#00ffff!important}
.mrkplace-border-blue,.mrkplace-hover-border-blue:hover{border-color:#2196F3!important}
.mrkplace-border-light-blue,.mrkplace-hover-border-light-blue:hover{border-color:#87CEEB!important}
.mrkplace-border-brown,.mrkplace-hover-border-brown:hover{border-color:#795548!important}
.mrkplace-border-cyan,.mrkplace-hover-border-cyan:hover{border-color:#00bcd4!important}
.mrkplace-border-blue-grey,.mrkplace-hover-border-blue-grey:hover,.mrkplace-border-blue-gray,.mrkplace-hover-border-blue-gray:hover{border-color:#607d8b!important}
.mrkplace-border-green,.mrkplace-hover-border-green:hover{border-color:#4CAF50!important}
.mrkplace-border-light-green,.mrkplace-hover-border-light-green:hover{border-color:#8bc34a!important}
.mrkplace-border-indigo,.mrkplace-hover-border-indigo:hover{border-color:#3f51b5!important}
.mrkplace-border-khaki,.mrkplace-hover-border-khaki:hover{border-color:#f0e68c!important}
.mrkplace-border-lime,.mrkplace-hover-border-lime:hover{border-color:#cddc39!important}
.mrkplace-border-orange,.mrkplace-hover-border-orange:hover{border-color:#ff9800!important}
.mrkplace-border-deep-orange,.mrkplace-hover-border-deep-orange:hover{border-color:#ff5722!important}
.mrkplace-border-pink,.mrkplace-hover-border-pink:hover{border-color:#e91e63!important}
.mrkplace-border-purple,.mrkplace-hover-border-purple:hover{border-color:#9c27b0!important}
.mrkplace-border-deep-purple,.mrkplace-hover-border-deep-purple:hover{border-color:#673ab7!important}
.mrkplace-border-red,.mrkplace-hover-border-red:hover{border-color:#f44336!important}
.mrkplace-border-sand,.mrkplace-hover-border-sand:hover{border-color:#fdf5e6!important}
.mrkplace-border-teal,.mrkplace-hover-border-teal:hover{border-color:#009688!important}
.mrkplace-border-yellow,.mrkplace-hover-border-yellow:hover{border-color:#ffeb3b!important}
.mrkplace-border-white,.mrkplace-hover-border-white:hover{border-color:#fff!important}
.mrkplace-border-black,.mrkplace-hover-border-black:hover{border-color:#000!important}
.mrkplace-border-grey,.mrkplace-hover-border-grey:hover,.mrkplace-border-gray,.mrkplace-hover-border-gray:hover{border-color:#9e9e9e!important}
.mrkplace-border-light-grey,.mrkplace-hover-border-light-grey:hover,.mrkplace-border-light-gray,.mrkplace-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.mrkplace-border-dark-grey,.mrkplace-hover-border-dark-grey:hover,.mrkplace-border-dark-gray,.mrkplace-hover-border-dark-gray:hover{border-color:#616161!important}
.mrkplace-border-pale-red,.mrkplace-hover-border-pale-red:hover{border-color:#ffe7e7!important}.mrkplace-border-pale-green,.mrkplace-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.mrkplace-border-pale-yellow,.mrkplace-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.mrkplace-border-pale-blue,.mrkplace-hover-border-pale-blue:hover{border-color:#e7ffff!important}