    <!-- Top header -->
    <header class="mrkplace-container mrkplace-xlarge">
      <p class="mrkplace-left">Jeans</p>
      <p class="mrkplace-right">
        <i class="fa fa-shopping-cart mrkplace-margin-right"></i>
        <i class="fa fa-search"></i>
      </p>
    </header>
  
    <!-- Image header -->
    <div class="mrkplace-display-container mrkplace-container">
      <img src="src/assets/shopimages/jeans.jpg" alt="Jeans" style="width:100%">
      <div class="mrkplace-display-topleft mrkplace-text-white" style="padding:24px 48px">
        <h1 class="mrkplace-jumbo mrkplace-hide-small">New arrivals</h1>
        <h1 class="mrkplace-hide-large mrkplace-hide-medium">New arrivals</h1>
        <h1 class="mrkplace-hide-small">COLLECTION 2016</h1>
        <p><a href="#jeans" class="mrkplace-button mrkplace-black mrkplace-padding-large mrkplace-large">SHOP NOW</a></p>
      </div>
    </div>