
    <div class="mrkplace-container mrkplace-text-grey" id="jeans">
      <p>8 items</p>
    </div>
  
    <!-- Product grid -->
    <div class="mrkplace-row mrkplace-grayscale">
      <div class="mrkplace-col l3 s6">
        <div class="mrkplace-container">
          <img src="assets/shopimages/jeans1.jpg" style="width:100%">
          <p>Ripped Skinny Jeans<br><b>$24.99</b></p>
        </div>
        <div class="mrkplace-container">
          <img src="assets/shopimages/jeans2.jpg" style="width:100%">
          <p>Mega Ripped Jeans<br><b>$19.99</b></p>
        </div>
      </div>
  
      <div class="mrkplace-col l3 s6">
        <div class="mrkplace-container">
          <div class="mrkplace-display-container">
            <img src="assets/shopimages/jeans2.jpg" style="width:100%">
            <span class="mrkplace-tag mrkplace-display-topleft">New</span>
            <div class="mrkplace-display-middle mrkplace-display-hover">
              <button class="mrkplace-button mrkplace-black">Buy now <i class="fa fa-shopping-cart"></i></button>
            </div>
          </div>
          <p>Mega Ripped Jeans<br><b>$19.99</b></p>
        </div>
        <div class="mrkplace-container">
          <img src="assets/shopimages/jeans3.jpg" style="width:100%">
          <p>Washed Skinny Jeans<br><b>$20.50</b></p>
        </div>
      </div>
  
      <div class="mrkplace-col l3 s6">
        <div class="mrkplace-container">
          <img src="assets/shopimages/jeans3.jpg" style="width:100%">
          <p>Washed Skinny Jeans<br><b>$20.50</b></p>
        </div>
        <div class="mrkplace-container">
          <div class="mrkplace-display-container">
            <img src="assets/shopimages/jeans4.jpg" style="width:100%">
            <span class="mrkplace-tag mrkplace-display-topleft">Sale</span>
            <div class="mrkplace-display-middle mrkplace-display-hover">
              <button class="mrkplace-button mrkplace-black">Buy now <i class="fa fa-shopping-cart"></i></button>
            </div>
          </div>
          <p>Vintage Skinny Jeans<br><b class="mrkplace-text-red">$14.99</b></p>
        </div>
      </div>
  
      <div class="mrkplace-col l3 s6">
        <div class="mrkplace-container">
          <img src="assets/shopimages/jeans4.jpg" style="width:100%">
          <p>Vintage Skinny Jeans<br><b>$14.99</b></p>
        </div>
        <div class="mrkplace-container">
          <img src="assets/shopimages/jeans1.jpg" style="width:100%">
          <p>Ripped Skinny Jeans<br><b>$24.99</b></p>
        </div>
      </div>
    </div>
  